.gradle/
.kotlin/
local.properties
build/
*/build/
metrics/
.idea
/docs/docs/CHANGELOG.md
/docs/docs/generated
/docs/site
/docs/.cache/
/docs/docs/dokka/
/docs/.css-audit/
/oids/generated/
/docs/docs/sbom/
/docs/.cache
/docs/__pycache__/
repo
